/* .input-container{
   width: 60%;
   display: flex;
   justify-content: space-between;
}
.search-input {
    font-size: 1.1rem;
    outline: none;
    color: white;
    background-color: transparent;
    padding: 1rem 0;
    border-bottom: 2px solid white;
    width: 84%;
} */